<!DOCTYPE HTML>
<html>
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Content -->
			<div id="content">
				<div class="inner">

						<article class="box post">
							<header>
								<h2><a href="#">{{title}}</a></h2>
							</header>
							<div class="info">
								<ul class="stats">
									<li><a href="#comments" class="icon fa-comment"><span class="remark42__counter"></span></a></li>
								</ul>
							</div>
							<a href="#" class="image featured"><img src="images/me.png" alt="" /></a>
							{{{content}}}
							<ul>
								<li>Mastodon: <a href="https://fosstodon.org/@greenrd" rel="me">@greenrd@fosstodon.org</a></li>
							</ul>
							<h2>Comments</h2>
							<a name="comments"></a>
							<div id="remark42"></div>
						</article>

				</div>
			</div>

		    {{>site/templates/sidebar.html}}
			<script>
				var remark_config = {
				  host: "http://remark42.greenrd.org",
				  site_id: 'PragmaticMagpie',
				  components: ['embed', 'counter']
				};
			  
				(function(c) {
				  for(var i = 0; i < c.length; i++){
					var d = document, s = d.createElement('script');
					s.src = remark_config.host + '/web/' +c[i] +'.js';
					s.defer = true;
					(d.head || d.body).appendChild(s);
				  }
				})(remark_config.components || ['embed']);
			</script>
		</body>
</html>