<!DOCTYPE HTML>
<html>
	<head>
		<title>Pragmatic Magpie</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="is-preload">

		<div id="content">
			<div class="inner">

				{{#posts}}
					<article class="box post post-excerpt">
						<header>
							<h2><a href="{{url}}">{{post-title}}</a></h2>
							{{#post-subtitle}}
							<p>{{post-subtitle}}</p>
							{{/post-subtitle}}
						</header>
						<div class="info">
							{{{date-html}}}
							<ul class="stats">
									<li><a href="{{url}}#comments" class="icon fa-comment"><span class="remark42__counter" data-url="{{url}}"></span></a></li>
								</ul>
						</div>
						{{#image}}
						<a href="#" class="image featured"><img src="images/{{image}}" alt="" /></a>
						{{/image}}
						{{{content}}}
					</article>
				{{/posts}}

			</div>
		</div>

		{{>site/templates/sidebar.html}}
		<script>
			var remark_config = {
			  host: "http://remark42.greenrd.org",
			  site_id: 'PragmaticMagpie',
			  components: ['counter']
			};
		  
			(function(c) {
			  for(var i = 0; i < c.length; i++){
				var d = document, s = d.createElement('script');
				s.src = remark_config.host + '/web/' +c[i] +'.js';
				s.defer = true;
				(d.head || d.body).appendChild(s);
			  }
			})(remark_config.components || ['embed']);
		</script>
	</body>
</html>