<div id="sidebar">

    <!-- Atom feed -->
    <link rel="alternate" type="application/atom+xml" title="Pragmatic Magpie - Posts" href="/posts/atom.xml" />

    <!-- Logo -->
        <h1 id="logo"><a href="#">Pragmatic Magpie</a></h1>

    <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="current"><a href="/vscode-flatpak-hie.html">Latest Post</a></li>
                <li><a href="/index.html">Archives</a></li>
                <li><a href="/about.html">About Me</a></li>
                <li><a href="mailto:greenrd@greenrd.org">Contact Me</a></li>
                <li><a href="https://gitlab.com/greenrd/my-blog/-/issues">Bugs and issues with this blog</a> - do not use for general correspondence</li>
            </ul>
        </nav>

    <!-- Blogroll -->
        <section class="box recent-comments">
            <header>
                <h2>Blogroll</h2>
            </header>
            <ul>
                <li><a href="https://slatestarcodex.com/">Slate Star Codex</a> by Scott Alexander</li>
                <li><a href="https://davidgerard.co.uk/blockchain/">Attack of the 50 Foot Blockchain</a> by David Gerard</li>
            </ul>
        </section>

    <!-- Recent Posts -->
        <section class="box recent-posts">
            <header>
                <h2>Recent Posts</h2>
            </header>
            <ul>
                {{#posts}}
                <li><a href="{{url}}">{{post-title}}</a></li>
                {{/posts}}
            </ul>
        </section>

    <!-- Recent Comments -->
        <section class="box recent-comments">
            <header>
                    <h2>Recent Comments</h2>
            </header>
            <div class="remark42__last-comments"></div>
        </section>

    <!-- Calendar -->
        <section class="box calendar">
            <div class="inner">
                <table>
                    <caption>March 2020</caption>
                    <thead>
                        <tr>
                            <th scope="col" title="Monday">M</th>
                            <th scope="col" title="Tuesday">T</th>
                            <th scope="col" title="Wednesday">W</th>
                            <th scope="col" title="Thursday">T</th>
                            <th scope="col" title="Friday">F</th>
                            <th scope="col" title="Saturday">S</th>
                            <th scope="col" title="Sunday">S</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6" class="pad"><span>&nbsp;</span></td>
                            <td class="today"><a href="/vscode-flatpak-hie.html">1</a></td>
                        </tr>
                        <tr>
                            <td><span>2</span></td>
                            <td><span>3</span></td>
                            <td><span>4</span></td>
                            <td><span>5</span></td>
                            <td><span>6</span></td>
                            <td><span>7</span></td>
                            <td><span>8</span></td>
                        </tr>
                        <tr>
                            <td><span>9</span></td>
                            <td><span>10</span></td>
                            <td><span>11</span></td>
                            <td><span>12</span></td>
                            <td><span>13</span></td>
                            <td><span>14</span></td>
                            <td><span>15</span></td>
                        </tr>
                        <tr>
                            <td><span>16</span></td>
                            <td><span>17</span></td>
                            <td><span>18</span></td>
                            <td><span>19</span></td>
                            <td><span>20</span></td>
                            <td><span>21</span></td>
                            <td><span>22</span></td>
                        </tr>
                        <tr>
                            <td><span>23</span></td>
                            <td><span>24</span></td>
                            <td><span>25</span></td>
                            <td><span>26</span></td>
                            <td><span>27</span></td>
                            <td><span>28</span></td>
                            <td><span>29</span></td>
                        </tr>
                        <tr>
                            <td><span>30</span></td>
                            <td><span>31</span></td>
                            <td class="pad" colspan="3"><span>&nbsp;</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

    <!-- Copyright -->
        <ul id="copyright">
            <li>&copy; Robin Green 2020.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>

</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/prism.js"></script>
<script>
    var remark_config = {
      host: "http://remark42.greenrd.org",
      site_id: 'PragmaticMagpie',
      components: ['last-comments']
    };
  
    (function(c) {
      for(var i = 0; i < c.length; i++){
        var d = document, s = d.createElement('script');
        s.src = remark_config.host + '/web/' +c[i] +'.js';
        s.defer = true;
        (d.head || d.body).appendChild(s);
      }
    })(remark_config.components || ['embed']);
</script>